.wrapper
  = render partial: 'layouts/header'

  .main
    .main__center

      -# 1段目（購入内容の確認）
      .main__center__upper
        .main__center__upper--character
          支払い方法

      -# 2段目以降
      .main__center__bottom
        .main__center__bottom__form
          = form_for '' do |f|

            -# カード番号部分
            .main__center__bottom__form__number
              = f.label:card_number, 'カード番号'
              %span.form-require 
                必須
              .input-box
                = f.text_field :card_number, class: 'input-text', id: 'card_number', placeholder: '半角数字のみ'
                -## jsで値を取得するためにid名'card_number'を追加
              .card-logos
                = image_tag src="visa.png", size: "49x30", class: "card_logo"
                = image_tag src="master-card.png", size: "38x30", class: "card_logo"
                = image_tag src="saison-card.png", size: "40x30", class: "card_logo"
                = image_tag src="jcb.png", size: "40x30", class: "card_logo"
                = image_tag src="american_express.png", size: "30x30", class: "card_logo"
                = image_tag src="dinersclub.png", size: "40x30", class: "card_logo"
                = image_tag src="discover.png", size: "36x30", class: "card_logo"

            -# カード有効期限部分
            .main__center__bottom__form__due_date
              = f.label:due_date, '有効期限'
              %span.form-require 
                必須
              .select-box
                .select-box__left
                  .select-box__left__form
                    = f.select :card_month, [["01", 1],["02", 2],["03", 3],["04", 4],["05", 5],["06", 6],["07", 7],["08", 8],["09", 9],["10", 10],["11", 11],["12", 12]]
                    -## jsで値を取得するためにid名変更（payjp.jsの内容に統一）
                    %i.fas.fa-chevron-down
                  %span.month
                    月
                .select-box__right
                  .select-box__right__form
                    = f.select :card_year, [["20", 2020],["21", 2021],["22", 2022],["23", 2023],["24", 2024],["25", 2025],["26", 2026],["27", 2027],["28", 2028],["29", 2029],["30", 2030]]
                    -## jsで値を取得するためにid名変更（payjp.jsの内容に統一）
                    %i.fas.fa-chevron-down
                  %span.year
                    年

            -# セキュリティコード部分
            .main__center__bottom__form__security_code
              = f.label:security_code, 'セキュリティコード'
              %span.form-require 
                必須
              .input-box
                = f.text_field :card_cvc, class: 'input-text', id: 'card_cvc', placeholder: 'カード背面4桁もしくは3桁の番号'
                -## jsで値を取得するためにid名'card_cvc'を追加

              .main__center__bottom__form__security_code--help
                %i.fas.fa-question-circle
                %span カード裏面の番号とは？
      
            -# クレジットカード登録ボタン
            = f.submit '登録する', class: 'main__center__bottom__form__btn', id: 'submit_btn'
            -## jsで操作するためにid名を追加
              
  = render partial: 'layouts/footer'