.user-menu-container
  = render "mypage/header"
%main.user-menu-container.clearfix
  = render "mypage/l-side"
  .mypage-content
    .signup-main__content
      .signup-main__logout
        - if @address.blank?
          = link_to new_address_path, class: ' signup-main__btn-red' do
            住所を登録する
        - else
          .address-info_mypage
            .address-info_mypage__text
              配送元・お届け先住所
            .address-info_mypage__content
              .address-info_mypage__content--postal_code
                = "〒" + @address.postal_code
              .address-info_mypage__content--address
                = @address.prefecture.name + @address.city + @address.house_number + @address.building_name
              .address-info_mypage__content--user-name
                = @address.first_name + @address.last_name
          = link_to edit_address_path(@address.id), class: "change-address_btn" do
            変更する
.user-menu-footer
  = render "mypage/side.app-banner"