.wrapper
  = render partial: 'layouts/header'

  .main
    .main__center

      -# 1段目（購入内容の確認）
      .main__center__title
        .main__center__title--character
          購入内容の確認

      -# 2段目（購入内容の確認）
      .main__center__product
        .main__center__product__detail
          .main__center__product__detail__image
            = image_tag @product.images.first.image.url
          .main__center__product__detail__info
            .main__center__product__detail__info--name
              = @product.name
            .main__center__product__detail__info--price
              ¥
              = @product.price 
              （税込）送料込み

      -# 3段目以降
      .main__center__purchase
        .main__center__purchase__form
          .main__center__purchase__form__price
            .main__center__purchase__form__price--character
              支払い金額
            .main__center__purchase__form__price--confirmation
              ¥
              = @product.price

          .main__center__purchase__form__point
            .main__center__purchase__form__point--plus-mark
              %i.fas.fa-square
            .main__center__purchase__form__point--text
              ポイントを使用（所持ポイント：P0）

          

          // クレジットカード情報が登録しているか否かで条件分岐
          - if @customer_card.blank?
            .main__center__purchase__form__pay
              .main__center__purchase__form__pay__title
                .main__center__purchase__form__pay__title--character
                  支払い方法
            .registration
              .registration--plus-mark
                %i.fas.fa-plus-circle
              .registration--text
                マイページから登録してください
          - else
            .main__center__purchase__form__pay
              .main__center__purchase__form__pay__title
                .main__center__purchase__form__pay__title--character
                  支払い方法
            .customer-card
              .customer-card__title_box
                %span
                  クレジットカード情報
              .customer-card__content
                .customer-card__content__card_logo
                  = image_tag "#{@card_src}", width: '50', height: '30', alt: @card_brand, id: "card_image"
                .customer-card__content__card_info
                  .customer-card__content__card_info--number.form_space
                    %span
                      = "**** **** **** " + @customer_card.last4
                    .customer-card__content__card_info--expired.form_space
                      - exp_month = @customer_card.exp_month.to_s
                      - exp_year = @customer_card.exp_year.to_s.slice(2,3)
                      %span
                        = exp_month + " / " + exp_year
              

          - if @address.blank?
            .main__center__purchase__form__destination
              .main__center__purchase__form__destination__title
                .main__center__purchase__form__destination__title--character
                  配送先
              .registration
                .registration--plus-mark
                  %i.fas.fa-plus-circle
                .registration--text
                  マイページから登録してください

          - else
            .main__center__purchase__form__destination
              .main__center__purchase__form__destination__title
                .main__center__purchase__form__destination__title--character
                  配送先

              .address-info
                .address-info__content
                  .address-info__content--postal_code
                    = "〒" + @address.postal_code
                  .address-info__content--address
                    = @address.prefecture.name + @address.city + @address.house_number + @address.building_name
                  .address-info__content--user-name
                    = @address.first_name + @address.last_name

            
    
          - if @customer_card.blank? or @address.blank?
            .main__center__purchase__form__btn_ineffective 購入する

          - else
            = form_tag({controller: :credit_card, action: :buy},{ method: :post}) do
              %button.main__center__purchase__form__btn 購入する

  = render partial: 'layouts/footer'