%body
  %header.pcHeader
    .headerInner
      .mainHeader
        %h1.icon
          = link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg")
        .searchBox
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "#"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type:  "submit"}
              .searchBox__icon
                = link_to image_tag("http://furima.tokyo/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg")
        %ul.resultLists
      .nav
        %ul.listsLeft
        
          -# カテゴリー
          %li.listLeft__item
            = link_to 'カテゴリー'
            %ul.parent-wrap
              - @parents.each do |parent|
                %li.parent
                  = link_to parent.name #category_path(parent.id)
                  %ul.child-wrap
                    - parent.children.each do |child|
                      %li.child
                        =link_to child.name #category_path(child.id)
                        %ul.grand-child-wrap
                          - child.children.each do |grandchild|
                            %li.grand-child
                              = link_to grandchild.name #category_path(grandchild.id)

          %li.listLeft__item
            #brandBtn
            = link_to 'ブランド'
            %ul.brandsPulldown.displayNone
        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            = link_to 'ログイン', new_user_session_path
          %li.listsRight__item.listsRight__item--new
            = link_to '新規会員登録', signup_index_path
  .main
    %section.mainVisual
      .content
        %h2.content__subtitle
          %br>/
          人生を変えるフリマアプリ
        %p.content__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .content__btn
          .aBtn
            = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
          .gBtn
            = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
      .picture
    %section.topIntroduction
      %h2.subtitle FURIMAが選ばれる3つの理由
      %ul.lists
        %li.list
          .list__pict
            %span.number 1
            = link_to image_tag("http://furima.tokyo/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg")
          %h3.list__text
            %span 3分
            ですぐに出品
          %p.list__description
            スマホで入力するだけで簡単に出品できる！
        %li.list
          .list__pict
            %span.number 2
            = link_to image_tag("http://furima.tokyo/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg")
          %h3.list__text
            %span シンプル
            で使いやすい
          %p.list__description
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.list.list--last
          .list__pict
            %span.number 3
            = link_to image_tag("http://furima.tokyo/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg")
          %h3.list__text
            手数料
            %span 業界最安
          %p.list__description
            最大3%でお得に出品&amp;購入！
    %section.topMiddleDl
      .topMiddleDl__inner
        %h2.innersubtitle 会員数日本一位
        %p.text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .btn
          .aBtn
            = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
          .gBtn
            = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
    %section.topKeyFeatures
      %h2.head FURIMAの特徴
      .items
        %section.item
          %figure.item__img
            = link_to image_tag("http://furima.tokyo/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg")
          %h3.item__subtitle 簡単に売り買いできる
          %p.item__detail
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %section.item
          %figure.item__img
            = link_to image_tag("http://furima.tokyo/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg")           
          %h3.item__subtitle 売上金は即日振込みに対応
          %p.item__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %section.item
          %figure.item__img
            = link_to image_tag("http://furima.tokyo/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg")
          %h3.item__subtitle 様々な支払いに対応
          %p.item__detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    %section.pickupContainer
      %h2.head ピックアップカテゴリー
      .productBox
        .productHead

          %h3.subtitle 新規投稿商品

      .productLists
        - @products.each do |product|
          - if product.purchase.blank?
            .product_box
              =link_to product_path(product.id) do
                %figure.productList--img
                  = image_tag product.images.first.image.url

              .productList--body
                .productforder
                  %h3.name
                    = product.name
                    %br/
                  .details
                    %span ¥
                    = product.price
                    %span.tax （税込）

          - else
            .product_box-sold_out
              %figure.productList--img_sold_out
                = image_tag product.images.first.image.url
              .sold_out SOLD OUT

              .productList--body_sold_out
                .productforder
                  %h3.name
                    = product.name
                    %br/
                  .details
                    %span ¥
                    = product.price
                    %span.tax （税込）
                
    %section.pickupContainer
      %h2.head ピックアップブランド
      .productBox
        .productHead
          %h3.subtitle アーカイバ
        .productLists

          - @products.each do |product|
            - if product.purchase.blank?
              .product_box
                =link_to product_path(product.id) do
                  %figure.productList--img
                    = image_tag product.images.first.image.url

                .productList--body
                  .productforder
                    %h3.name
                      = product.name
                      %br/
                    .details
                      %span ¥
                      = product.price
                      %span.tax （税込）

            - else
              .product_box-sold_out
                %figure.productList--img_sold_out
                  = image_tag product.images.first.image.url
                .sold_out SOLD OUT

                .productList--body_sold_out
                  .productforder
                    %h3.name
                      = product.name
                      %br/
                    .details
                      %span ¥
                      = product.price
                      %span.tax （税込）


  .side.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner_text 今すぐ無料ダウンロード！
      .inner__icon
        .aBtn
          = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
        .gBtn
          = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to '会社概要（運営会社）'
          %li
            = link_to 'プライバシーポリシー'
          %li
            = link_to 'FURIMA利用規約'
          %li
            = link_to 'ポイントに関する特約'
      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li
            = link_to 'カテゴリー一覧'
          %li
            = link_to 'ブランド一覧'
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            = link_to 'FURIMAガイド'
          %li
            = link_to 'FURIMAロゴ利用ガイドライン'
          %li
            = link_to 'お知らせ'
    .footer__logo
      = link_to image_tag("http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg")
    %p © FURIMA
    .purchaseBtn
      %span.purchaseBtn__text 出品する
      .purchaseBtn__icon
        = link_to image_tag("http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg"), new_product_path
