.wrapper
  = render partial: 'template/header'

  .main
    .main__products_center

      -# 1段目（購入内容の確認）
      .main__products_center__upper
        .main__products_center__upper--product_name
          adidas アディダス スニーカー
        .main__products_center__upper__info_box
          .main__products_center__upper__info_box__left
            .main__products_center__upper__info_box__left__img_main
              .main__products_center__upper__info_box__left__img_main--image
                = image_tag src="猫1.jpeg", class: "main_image"
            .main__products_center__upper__info_box__left__img_sub
              .main__products_center__upper__info_box__left__img_sub__first
                .main__products_center__upper__info_box__left__img_sub__first__outer
                  .main__products_center__upper__info_box__left__img_sub__first__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__first__outer
                  .main__products_center__upper__info_box__left__img_sub__first__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__first__outer
                  .main__products_center__upper__info_box__left__img_sub__first__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__first__outer
                  .main__products_center__upper__info_box__left__img_sub__first__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__first__outer
                  .main__products_center__upper__info_box__left__img_sub__first__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
              
              .main__products_center__upper__info_box__left__img_sub__second
                .main__products_center__upper__info_box__left__img_sub__second__outer
                  .main__products_center__upper__info_box__left__img_sub__second__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__second__outer
                  .main__products_center__upper__info_box__left__img_sub__second__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__second__outer
                  .main__products_center__upper__info_box__left__img_sub__second__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__second__outer
                  .main__products_center__upper__info_box__left__img_sub__second__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
                .main__products_center__upper__info_box__left__img_sub__second__outer
                  .main__products_center__upper__info_box__left__img_sub__second__outer--image
                    = image_tag src="猫1.jpeg", size: "300x225", class: "image"
              
          .main__products_center__upper__info_box__right
            
            %table.item-detail-table
              %tr
                %th 出品者
                %td
                  .owner_name
                    hata
                  .main__products_center__upper__info_box__right__owner__contents__marks
                    %i.fas.fa-laugh
                    537
                    %i.fas.fa-meh
                    537
                    %i.fas.fa-frown-open
                    537
              %tr
                %th カテゴリー
                %td
                  .category_1
                    メンズ
                  .category_2
                    %i.fas.fa-chevron-right 
                    靴
                  .category_3
                    %i.fas.fa-chevron-right 
                    スニーカー
              %tr
                %th ブランド
                %td
                  アディダス
              %tr
                %th 商品のサイズ
                %td
                  27.0 cm
              %tr
                %th 商品の状態
                %td
                  新品・未使用
              %tr
                %th 送料の負担
                %td
                  送料込み（出品者負担）
              %tr
                %th 配送本地域
                %td
                  千葉県

        .main__products_center__upper--price_info
          %span.price ¥4,999
          %span.tax (税込)
          %span.shipping_fee 送料込み
        
        .main__products_center__upper__btn
          購入画面に進む


  = render partial: 'template/footer'